jest.config.json                         @team-nuwe
sonar-project.properties                 @team-nuwe
/.github/**                              @team-nuwe
/tests/**                                @team-nuwe
